{% extends 'base.html' %} 

{% load static %}

<!-- Styles -->
{% block head %}
<link rel="stylesheet" href="{% static 'styles/portfolio.css' %}" />
{% endblock %}

<!-- Main -->
{% block main %}
<main>
  <h1 class="container text-center mt-4 mt-lg-5">My Portfolio</h1>
  <section id="portfolio" class="container mt-4 mt-lg-5 mb-4">
    <div class="row g-4">
      {% for project in projects %}
        <div class="col-12 col-lg-6 col-xl-4">
          <div class="project text-center px-1 py-4 d-flex flex-column h-100">
            <div>
              <h2>{{ project.title }}</h2>
              <p class="mt-3">{{ project.description }}</p>
              {% if project.image %}
                <img class="img-fluid 
                            {% if project.title == 'Meat Hook' %}mt-2 mt-lg-3 mt-xl-4
                            {% else %}mt-1
                            {% endif %}
                            {% if project.title == 'Dallas Cats & Dogs' %}mt-2 mt-xl-3
                            {% endif %}"
                      src="{{ project.image.url }}" 
                      alt="{{ project.title }}">
              {% endif %}
            </div>
            <br>
            {% if project.link %}
            <div class="mt-auto">
              <a class="btn btn-primary mt-4" href="{{ project.link }}" target="_blank">View Project</a>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
