<!DOCTYPE html>

<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load static files -->
{% load static %}

<!-- Title -->
{% block title %}
<title>around:: Development | Home</title>
{% endblock %}

<!-- Styles -->
{% block head %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

<!-- Main -->
{% block main %}
<main>
  <!-- Hero and login section -->
  <div class="container">
    <div class="row justify-content-center justify-content-lg-start">

      <!-- Hero section -->
      <section id="hero" class="col-12 text-center mt-4 mt-lg-5">
        <h1>Welcome to around:: Development</h1>
        <p class="tag-line mt-3 mb-2">
          My name is Patrik and I specialize in creating web applications that
          are tailored to your needs.
        </p>
        <button type="button" class="btn btn-primary mt-3 mb-2">Contact</button>
      </section>

      <!-- Login section -->
       <section id="login" class="col-12 col-lg-6 text-center mt-4 mt-lg-5           ms-lg-auto">
        <button type="button" class="btn btn-primary">
          Login/Create Account
        </button>
       </section>
    </div>
  </div>
</main>
{% endblock %}
