<!DOCTYPE html>

<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load static files -->
{% load static %}

<!-- Title -->
{% block extra_title %}
| Home
{% endblock %}

<!-- Styles -->
{% block head %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}

<!-- Main -->
{% block main %}
  <main>
    <!-- Hero and login section -->
    <div class="container">
      <div class="row justify-content-center justify-content-lg-start">

        <!-- Hero section -->
        <section id="hero" class="col-12 text-center mt-4 mt-lg-5">
          <h1>Welcome to around:: Development</h1>
          <p class="tag-line mt-3 mb-2">
            My name is Patrik and I specialize in creating web applications that
            are tailored to your needs.
          </p>
          <a href="{% url 'services' %}" class="btn btn-primary mt-3 mb-2">Services</a>
        </section>

        <!-- Login section -->
        <section id="login" class="col-12 col-lg-6 text-center mt-4 mt-lg-5 ms-lg-auto">
          {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="btn btn-primary">Logout</a>
          {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-primary">Login/Create Account</a>
          {% endif %}
          <a href="{% url 'user_account' %}" class="btn btn-primary">Go to account</a>
        </section>
      </div>

      <!-- Featured Projects section -->
      <!-- Header Row -->
      <div class="row justify-content-center">
        <section class="col-12 col-lg-6 mt-5 text-center">
          <h2>Featured Projects:</h2>
        </section>
      </div>

      <!-- Display Row -->
      <section id="featured-projects">
        <div class="row g-4 mb-4">
          {% for project in projects %}
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="project text-center px-1 py-4 d-flex flex-column h-100">
                <div>
                  <h2>{{ project.title }}</h2>
                  <p class="mt-3">{{ project.description }}</p>
                  {% if project.image %}
                    <img class="img-fluid 
                                {% if project.title == 'Meat Hook' %} mt-2 mt-lg-3 mt-xl-4
                                {% else %}mt-1
                                {% endif %}
                                {% if project.title == 'Dallas Cats & Dogs' %} mt-2 mt-xl-3
                                {% endif %}"
                          src="{{ project.image.url }}" 
                          alt="{{ project.title }}">
                  {% endif %}
                </div>
                <br>
                {% if project.link %}
                <div class="mt-auto">
                  <a class="btn btn-primary mt-4" href="{{ project.link }}" target="_blank">View Project</a>
                </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </main>
{% endblock %}
