{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock %}

{% block extra_title %}
| Services 
{% endblock %}

{% block main %}
<main>
  <section id="products" class="container">
    <div class="row mt-4 mt-lg-5">
      <div class="col-12 text-center">
        <form id="products-form" method="post">
          {% csrf_token %}
          {{form}}
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
