{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/services.css' %}">
<script src="{% static 'scripts/services.js' %}" defer></script>
{% endblock %}

{% block extra_title %}
| Services 
{% endblock %}

{% block main %}
<main>
  <section id="services" class="container">
    <div class="row text-center mt-4 mt-lg-5">
      <h1>Services</h1>
    </div>
    <div class="row mt-4 mt-lg-5 justify-content-center">
      <div class="col-12 text-center">
        <form id="services-form" method="POST">
          {% csrf_token %}
          {{form}}
          <button type="submit" class="btn btn-primary mt-5 mx-3">Add to cart</button>
          <a class="btn btn-primary mt-5 mx-3" href="{% url 'cart' %}">Go to cart</a>
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}
