/* Hero section */
#hero {
  background-color: rgb(48, 25, 52);
  padding: 1rem 0 1rem 0;
  border-radius: 5px;
  max-width: 415px;
}

#hero h1 {
  color: rgb(193, 188, 197);
}

#hero .tag-line {
  font-size: 1.1rem;
  color: rgb(193, 188, 197);
}

.btn-primary {
  background-color: rgb(138, 43, 226);
  border: none;
  color: rgb(193, 188, 197);
}

.btn-primary:hover {
  background-color: rgb(94, 180, 24);
  color: rgb(48, 25, 52);
}

.btn-primary:active {
  background-color: rgb(94, 180, 24);
  color: rgb(48, 25, 52);
}

/* Login section */
#login {
  max-width: 415px;
}

/* Responsive design */
@media screen and (min-width: 768px) {
  /* Hero section */
  #hero {
    max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  /* Hero section */
  #hero {
    max-width: 500px;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  /* Login section */
  #login {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1199px) {
  /* Hero section */
  #hero {
    max-width: 540px;
  }

  /* Login section */
  #login {
    padding-left: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  /* Hero section */
  #hero {
    max-width: 700px;
  }
}