<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load static files -->
{% load static %}

<!-- Page title -->
{% block extra_title %}
  | Cart 
{% endblock %}

<!-- Main -->
{% block main %}
<main>
  <h1>Your chosen services: </h1>

  {% if cart_items %}
    <ul>
      {% for service in services %}
        <li>
          {{ service.name}}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Your cart is empty</p>
  {% endif %}
  <a href="{% url 'services' %}">Add more services</a>
</main>
{% endblock %}