<!-- Inherit from base.html -->
{% extends 'base.html' %}

<!-- Load static files -->
{% load static %}

<!-- Load CSS -->
{% block head %}
  <link rel="stylesheet" href="{% static 'styles/cart.css' %}">
{% endblock %}

<!-- Page title -->
{% block extra_title %}
  | Cart 
{% endblock %}

<!-- Main -->
{% block main %}
<main>
  <section id="Choosen-services" class="container">
    <div class="row text-center mt-4 mt-lg-5">
      <h1>Your chosen services: </h1>
    </div>
    <div class="row text-center mt-3">
      <div class="col-12">
        {% if cart_items %}
          {% for item in cart_items %}
            <p>{{ item.name }} - ${{ item.price }}/h
              <form action="{% url 'remove_from_cart' item.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm">Remove</button>
              </form>
            </p>
          {% endfor %}
        {% else %}
          <p>Your cart is empty</p>
        {% endif %}
        <a class="btn btn-primary mt-2" href="{% url 'services' %}">Add more services</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}